{
  "openapi": "3.0.3",
  "info": {
    "title": "BAKUDAPA Mobile API",
    "version": "1.0.0",
    "description": "Kontrak API yang dikonsumsi aplikasi BAKUDAPA MOBILE (Disdukcapil Provinsi Maluku Utara).\n\nSTATUS VERIFIKASI (12 Juni 2026): seluruh path dokumen ini dicocokkan terhadap Swagger produksi (165 path, OpenAPI 3.0.1 \"Disdukcapil Maluku Utara API\"). Setiap operasi diberi penanda `x-status`:\n- `tersedia` — endpoint SUDAH ADA di backend produksi.\n- `provisional` — endpoint BELUM ADA di backend (tidak ditemukan di Swagger produksi); bentuk kontrak berasal dari sisi mobile dan perlu diimplementasikan/dikonfirmasi backend.\n\nKelompok provisional: seluruh `/registrasi/*`, `/ai/tanya`, `/biometrik/*`, `/system/maintenance`, dan `/sistem/konfigurasi`.\n\nSemua permintaan mobile menyertakan header `Accept: application/json`, `Accept-Version: 1`, dan `Accept-Language: id`.\n\nAmplop respons sukses: `{ \"success\": true, \"data\": ..., \"meta\": {...} }`. Amplop galat: lihat skema `AmplopGalat`.\n\nCatatan login: klien mobile TIDAK mengirim `cf_turnstile_response`; server saat ini masih menolak login tanpa token tersebut (422 VALIDATION_FAILED \"Verifikasi gagal.\") sampai kewajiban Turnstile dinonaktifkan untuk klien mobile.",
    "contact": {
      "name": "BAKUDAPA — Disdukcapil Provinsi Maluku Utara",
      "url": "https://bakudapa.malutprov.go.id"
    }
  },
  "servers": [
    {
      "url": "https://bakudapa.malutprov.go.id/api/v1",
      "description": "Produksi"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Autentikasi",
      "description": "Login, sesi, profil, dan pemulihan kata sandi. Token = JWT tunggal sliding (TTL +-1 jam). Semua endpoint TERSEDIA di produksi."
    },
    {
      "name": "Permohonan",
      "description": "Pengajuan dan pelacakan permohonan layanan kependudukan per slug layanan. Semua endpoint TERSEDIA di produksi."
    },
    {
      "name": "Dokumen Publik",
      "description": "Formulir resmi & dokumen persyaratan (akses publik, tanpa token). TERSEDIA di produksi."
    },
    {
      "name": "Notifikasi",
      "description": "Pemberitahuan dalam aplikasi. TERSEDIA di produksi (lihat catatan unread_count)."
    },
    {
      "name": "AI",
      "description": "Asisten AI BAKUDAPA. PROVISIONAL - diverifikasi 12 Juni 2026 TIDAK ada di Swagger produksi; perlu dibuat backend."
    },
    {
      "name": "Registrasi",
      "description": "Registrasi akun masyarakat dengan verifikasi biometrik. SELURUHNYA PROVISIONAL - diverifikasi 12 Juni 2026 TIDAK ada di Swagger produksi; saat ini akun dibuat admin. Setiap langkah setelah `mulai` wajib menyertakan header `X-Registration-Token`."
    },
    {
      "name": "Biometrik",
      "description": "Verifikasi wajah-dokumen berbasis AI dan audit keamanan perangkat. PROVISIONAL - belum ada di backend."
    },
    {
      "name": "Sistem",
      "description": "Status maintenance & konfigurasi runtime. PROVISIONAL - belum ada di backend; klien gagal-senyap (fallback ke nilai bawaan) bila endpoint tidak tersedia. CATATAN: produksi sudah punya GET /options/app-info - backend boleh memilih melayani kebutuhan ini lewat path tersebut, lalu mobile menyesuaikan."
    }
  ],
  "paths": {
    "/auth/sign_in": {
      "post": {
        "tags": [
          "Autentikasi"
        ],
        "summary": "Login",
        "description": "Identitas boleh email, username, atau NIK — klien mengisi nilai yang sama ke semua field identitas. PERHATIAN: server masih mensyaratkan `cf_turnstile_response` (tidak dikirim mobile) dan menjawab 422 \"Verifikasi gagal.\" sampai Turnstile dinonaktifkan untuk mobile.",
        "operationId": "login",
        "x-status": "tersedia",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user"
                ],
                "properties": {
                  "user": {
                    "type": "object",
                    "required": [
                      "password"
                    ],
                    "properties": {
                      "email": {
                        "type": "string",
                        "example": "warga@contoh.id"
                      },
                      "login": {
                        "type": "string",
                        "example": "warga@contoh.id"
                      },
                      "user_id": {
                        "type": "string",
                        "example": "warga@contoh.id"
                      },
                      "user_nik": {
                        "type": "string",
                        "example": "warga@contoh.id"
                      },
                      "user_email": {
                        "type": "string",
                        "example": "warga@contoh.id"
                      },
                      "password": {
                        "type": "string",
                        "format": "password"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login berhasil.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "description": "JWT Bearer."
                        },
                        "user": {
                          "$ref": "#/components/schemas/Pengguna"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Galat401"
          },
          "422": {
            "$ref": "#/components/responses/Galat422"
          },
          "429": {
            "$ref": "#/components/responses/Galat429"
          }
        }
      }
    },
    "/auth/sign_out": {
      "delete": {
        "tags": [
          "Autentikasi"
        ],
        "summary": "Logout",
        "operationId": "logout",
        "x-status": "tersedia",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuksesKosong"
          },
          "401": {
            "$ref": "#/components/responses/Galat401"
          }
        }
      }
    },
    "/auth/refresh-token": {
      "post": {
        "tags": [
          "Autentikasi"
        ],
        "summary": "Segarkan token (sliding JWT)",
        "description": "Kirim Bearer token lama; respons memuat `data.token` baru dan token lama dicabut.",
        "operationId": "refreshToken",
        "x-status": "tersedia",
        "responses": {
          "200": {
            "description": "Token baru diterbitkan.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Galat401"
          }
        }
      }
    },
    "/auth/profile": {
      "get": {
        "tags": [
          "Autentikasi"
        ],
        "summary": "Profil saya",
        "operationId": "getProfil",
        "x-status": "tersedia",
        "responses": {
          "200": {
            "description": "Profil pengguna.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Pengguna"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Galat401"
          }
        }
      },
      "put": {
        "tags": [
          "Autentikasi"
        ],
        "summary": "Perbarui profil",
        "operationId": "updateProfil",
        "x-status": "tersedia",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "full_name": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "birth_place": {
                    "type": "string"
                  },
                  "birth_date": {
                    "type": "string",
                    "format": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuksesKosong"
          },
          "401": {
            "$ref": "#/components/responses/Galat401"
          },
          "422": {
            "$ref": "#/components/responses/Galat422"
          }
        }
      }
    },
    "/auth/change-password": {
      "put": {
        "tags": [
          "Autentikasi"
        ],
        "summary": "Ganti kata sandi",
        "operationId": "changePassword",
        "x-status": "tersedia",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "current_password",
                  "password",
                  "password_confirmation"
                ],
                "properties": {
                  "current_password": {
                    "type": "string",
                    "format": "password"
                  },
                  "password": {
                    "type": "string",
                    "format": "password"
                  },
                  "password_confirmation": {
                    "type": "string",
                    "format": "password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuksesKosong"
          },
          "401": {
            "$ref": "#/components/responses/Galat401"
          },
          "422": {
            "$ref": "#/components/responses/Galat422"
          }
        }
      }
    },
    "/auth/forgot-password": {
      "post": {
        "tags": [
          "Autentikasi"
        ],
        "summary": "Lupa kata sandi (kirim OTP via email)",
        "description": "Juga dipakai untuk kirim-ulang OTP.",
        "operationId": "forgotPassword",
        "x-status": "tersedia",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user"
                ],
                "properties": {
                  "user": {
                    "type": "object",
                    "required": [
                      "email"
                    ],
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuksesKosong"
          },
          "404": {
            "$ref": "#/components/responses/Galat404"
          },
          "429": {
            "$ref": "#/components/responses/Galat429"
          }
        }
      }
    },
    "/auth/verify-otp": {
      "post": {
        "tags": [
          "Autentikasi"
        ],
        "summary": "Verifikasi OTP reset kata sandi",
        "operationId": "verifyOtp",
        "x-status": "tersedia",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user"
                ],
                "properties": {
                  "user": {
                    "type": "object",
                    "required": [
                      "email",
                      "otp"
                    ],
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "otp": {
                        "type": "string",
                        "example": "123456"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP valid; token reset diterbitkan.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "reset_token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/Galat422"
          },
          "429": {
            "$ref": "#/components/responses/Galat429"
          }
        }
      }
    },
    "/auth/reset-password": {
      "put": {
        "tags": [
          "Autentikasi"
        ],
        "summary": "Setel kata sandi baru",
        "operationId": "resetPassword",
        "x-status": "tersedia",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user"
                ],
                "properties": {
                  "user": {
                    "type": "object",
                    "required": [
                      "reset_password_token",
                      "password",
                      "password_confirmation"
                    ],
                    "properties": {
                      "reset_password_token": {
                        "type": "string"
                      },
                      "password": {
                        "type": "string",
                        "format": "password"
                      },
                      "password_confirmation": {
                        "type": "string",
                        "format": "password"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuksesKosong"
          },
          "422": {
            "$ref": "#/components/responses/Galat422"
          }
        }
      }
    },
    "/applications/{service_type}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ServiceType"
        }
      ],
      "get": {
        "tags": [
          "Permohonan"
        ],
        "summary": "Daftar permohonan milik pengguna",
        "operationId": "listApplications",
        "x-status": "tersedia",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ProgressStatus"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Kueri pencarian."
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daftar permohonan + meta paginasi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Permohonan"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Galat401"
          }
        }
      },
      "post": {
        "tags": [
          "Permohonan"
        ],
        "summary": "Ajukan permohonan baru",
        "description": "Multipart FLAT: field data dikirim langsung (mis. `child_name`), berkas dengan kunci berawalan `doc_` (mis. `doc_family_card`, JPG/PNG/PDF maks 5MB per berkas — 413 PAYLOAD_TOO_LARGE bila lebih). Khusus KK Perubahan Biodata, field `biodata_changes` dikirim sebagai STRING JSON `[{\"field_key\",\"field_label\",\"old_value\",\"new_value\"}]`. Definisi field lengkap per layanan: `lib/features/services/domain/definisi_formulir.dart` (diekstrak 1:1 dari klien web produksi). Klien mengirim header `X-Idempotency-Key` (UUID v4).",
        "operationId": "createApplication",
        "x-status": "tersedia",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "properties": {
                  "biodata_changes": {
                    "type": "string",
                    "description": "Hanya untuk family-card-biodata-change. String JSON array perubahan."
                  },
                  "doc_*": {
                    "type": "string",
                    "format": "binary",
                    "description": "Berkas persyaratan; nama kunci aktual per layanan, mis. doc_family_card."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Permohonan dibuat.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "application_number": {
                          "type": "string",
                          "example": "AK-2026-000123"
                        },
                        "service_type": {
                          "type": "string",
                          "example": "birth-cert"
                        },
                        "progress_status": {
                          "$ref": "#/components/schemas/ProgressStatus"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Galat401"
          },
          "413": {
            "$ref": "#/components/responses/Galat413"
          },
          "422": {
            "$ref": "#/components/responses/Galat422"
          }
        }
      }
    },
    "/applications/{service_type}/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ServiceType"
        },
        {
          "$ref": "#/components/parameters/ApplicationId"
        }
      ],
      "get": {
        "tags": [
          "Permohonan"
        ],
        "summary": "Detail permohonan",
        "operationId": "getApplication",
        "x-status": "tersedia",
        "responses": {
          "200": {
            "description": "Detail permohonan.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Permohonan"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Galat401"
          },
          "404": {
            "$ref": "#/components/responses/Galat404"
          }
        }
      }
    },
    "/applications/{service_type}/{id}/cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ServiceType"
        },
        {
          "$ref": "#/components/parameters/ApplicationId"
        }
      ],
      "post": {
        "tags": [
          "Permohonan"
        ],
        "summary": "Batalkan permohonan",
        "operationId": "cancelApplication",
        "x-status": "tersedia",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuksesKosong"
          },
          "401": {
            "$ref": "#/components/responses/Galat401"
          },
          "404": {
            "$ref": "#/components/responses/Galat404"
          },
          "422": {
            "$ref": "#/components/responses/Galat422"
          }
        }
      }
    },
    "/applications/{service_type}/{id}/patch-revision": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ServiceType"
        },
        {
          "$ref": "#/components/parameters/ApplicationId"
        }
      ],
      "post": {
        "tags": [
          "Permohonan"
        ],
        "summary": "Kirim revisi (dari status perlu_perbaikan)",
        "description": "Multipart bila ada berkas; bentuk field sama dengan pengajuan.",
        "operationId": "patchRevision",
        "x-status": "tersedia",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuksesKosong"
          },
          "401": {
            "$ref": "#/components/responses/Galat401"
          },
          "404": {
            "$ref": "#/components/responses/Galat404"
          },
          "422": {
            "$ref": "#/components/responses/Galat422"
          }
        }
      }
    },
    "/applications/{service_type}/{id}/receipt": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ServiceType"
        },
        {
          "$ref": "#/components/parameters/ApplicationId"
        }
      ],
      "get": {
        "tags": [
          "Permohonan"
        ],
        "summary": "Unduh PDF tanda terima",
        "operationId": "downloadReceipt",
        "x-status": "tersedia",
        "responses": {
          "200": {
            "description": "Berkas PDF.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Galat401"
          },
          "404": {
            "$ref": "#/components/responses/Galat404"
          }
        }
      }
    },
    "/applications/{service_type}/{id}/final-pdf": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ServiceType"
        },
        {
          "$ref": "#/components/parameters/ApplicationId"
        }
      ],
      "get": {
        "tags": [
          "Permohonan"
        ],
        "summary": "Unduh PDF hasil (hanya status completed)",
        "operationId": "downloadFinalPdf",
        "x-status": "tersedia",
        "responses": {
          "200": {
            "description": "Berkas PDF.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Galat401"
          },
          "404": {
            "$ref": "#/components/responses/Galat404"
          }
        }
      }
    },
    "/documents": {
      "get": {
        "tags": [
          "Dokumen Publik"
        ],
        "summary": "Cari dokumen publik",
        "operationId": "listDocuments",
        "x-status": "tersedia",
        "security": [],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "persyaratan"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daftar dokumen.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DokumenPublik"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/documents/{id}/download": {
      "get": {
        "tags": [
          "Dokumen Publik"
        ],
        "summary": "Unduh dokumen",
        "operationId": "downloadDocument",
        "x-status": "tersedia",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berkas (umumnya PDF).",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Galat404"
          }
        }
      }
    },
    "/documents/categories": {
      "get": {
        "tags": [
          "Dokumen Publik"
        ],
        "summary": "Kategori dokumen",
        "description": "Juga dipakai klien mobile sebagai ping ringan untuk mengukur kualitas jaringan.",
        "operationId": "listDocumentCategories",
        "x-status": "tersedia",
        "security": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuksesKosong"
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "tags": [
          "Notifikasi"
        ],
        "summary": "Daftar notifikasi",
        "operationId": "listNotifications",
        "x-status": "tersedia",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "unread"
              ]
            },
            "description": "Saring hanya yang belum dibaca."
          }
        ],
        "responses": {
          "200": {
            "description": "Daftar notifikasi + meta paginasi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Notifikasi"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Galat401"
          }
        }
      }
    },
    "/notifications/unread_count": {
      "get": {
        "tags": [
          "Notifikasi"
        ],
        "summary": "Jumlah belum dibaca",
        "description": "Produksi memakai underscore (terverifikasi live; klien menerima `count` atau `unread_count`). PERHATIAN: Swagger produksi justru mendokumentasikan varian dash `/notifications/unread-count` - mohon backend mengonfirmasi/merutekan kedua varian agar konsisten.",
        "operationId": "unreadCount",
        "x-status": "tersedia",
        "responses": {
          "200": {
            "description": "Jumlah notifikasi belum dibaca.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer",
                          "example": 3
                        },
                        "unread_count": {
                          "type": "integer",
                          "example": 3
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Galat401"
          }
        }
      }
    },
    "/notifications/{id}/mark_read": {
      "patch": {
        "tags": [
          "Notifikasi"
        ],
        "summary": "Tandai satu notifikasi dibaca",
        "operationId": "markRead",
        "x-status": "tersedia",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuksesKosong"
          },
          "401": {
            "$ref": "#/components/responses/Galat401"
          },
          "404": {
            "$ref": "#/components/responses/Galat404"
          }
        }
      }
    },
    "/notifications/mark_all_read": {
      "patch": {
        "tags": [
          "Notifikasi"
        ],
        "summary": "Tandai semua notifikasi dibaca",
        "operationId": "markAllRead",
        "x-status": "tersedia",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuksesKosong"
          },
          "401": {
            "$ref": "#/components/responses/Galat401"
          }
        }
      }
    },
    "/ai/tanya": {
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "Tanya asisten AI",
        "description": "PROVISIONAL — endpoint ini dipanggil klien mobile tetapi belum terverifikasi ada di Swagger produksi. Timeout terima klien: 90 detik.",
        "operationId": "aiTanya",
        "x-status": "provisional",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pesan"
                ],
                "properties": {
                  "pesan": {
                    "type": "string",
                    "example": "Bagaimana cara mengurus akta kelahiran?"
                  },
                  "sesi_id": {
                    "type": "string",
                    "description": "Lanjutkan sesi percakapan sebelumnya."
                  },
                  "konteks": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "lanjutkan": {
                    "type": "boolean",
                    "description": "Minta kelanjutan balasan yang terpotong."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Balasan asisten.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalasanAi"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Galat401"
          },
          "429": {
            "$ref": "#/components/responses/Galat429"
          },
          "500": {
            "$ref": "#/components/responses/Galat500"
          }
        }
      }
    },
    "/registrasi/mulai": {
      "post": {
        "tags": [
          "Registrasi"
        ],
        "summary": "Mulai sesi registrasi",
        "description": "PROVISIONAL. Tanpa autentikasi. Mengembalikan token sesi registrasi untuk header `X-Registration-Token` pada langkah berikutnya. Bila backend menyertakan kode tantangan liveness (`liveness_challenge` / `tantangan_liveness` / `liveness_challenge_code`), klien memakainya sebagai sumber keacakan tantangan — disarankan backend SELALU mengisinya agar keacakan berasal dari server.",
        "operationId": "registrasiMulai",
        "x-status": "provisional",
        "security": [],
        "responses": {
          "200": {
            "description": "Sesi dibuat.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "description": "Token sesi registrasi (alias diterima: session_token)."
                        },
                        "liveness_challenge": {
                          "$ref": "#/components/schemas/KodeTantanganLiveness"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Galat429"
          },
          "500": {
            "$ref": "#/components/responses/Galat500"
          }
        }
      }
    },
    "/registrasi/identitas": {
      "post": {
        "tags": [
          "Registrasi"
        ],
        "summary": "Kirim data identitas",
        "operationId": "registrasiIdentitas",
        "x-status": "provisional",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/RegistrationToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_type",
                  "identity_number",
                  "full_name"
                ],
                "properties": {
                  "user_type": {
                    "type": "string",
                    "enum": [
                      "WNI"
                    ],
                    "example": "WNI"
                  },
                  "identity_number": {
                    "type": "string",
                    "description": "NIK 16 digit.",
                    "example": "8201xxxxxxxxxxxx"
                  },
                  "full_name": {
                    "type": "string"
                  },
                  "birth_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "ISO 8601."
                  },
                  "birth_place": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string",
                    "enum": [
                      "L",
                      "P"
                    ]
                  },
                  "phone_number": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuksesKosong"
          },
          "400": {
            "$ref": "#/components/responses/Galat400"
          },
          "404": {
            "$ref": "#/components/responses/Galat404"
          },
          "422": {
            "$ref": "#/components/responses/Galat422"
          }
        }
      }
    },
    "/registrasi/foto-dokumen": {
      "post": {
        "tags": [
          "Registrasi"
        ],
        "summary": "Unggah foto dokumen identitas (KTP)",
        "operationId": "registrasiFotoDokumen",
        "x-status": "provisional",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/RegistrationToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "document"
                ],
                "properties": {
                  "document": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuksesKosong"
          },
          "400": {
            "$ref": "#/components/responses/Galat400"
          },
          "413": {
            "$ref": "#/components/responses/Galat413"
          },
          "422": {
            "$ref": "#/components/responses/Galat422"
          }
        }
      }
    },
    "/registrasi/foto-wajah": {
      "post": {
        "tags": [
          "Registrasi"
        ],
        "summary": "Unggah foto wajah (selfie)",
        "operationId": "registrasiFotoWajah",
        "x-status": "provisional",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/RegistrationToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "face"
                ],
                "properties": {
                  "face": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuksesKosong"
          },
          "400": {
            "$ref": "#/components/responses/Galat400"
          },
          "413": {
            "$ref": "#/components/responses/Galat413"
          },
          "422": {
            "$ref": "#/components/responses/Galat422"
          }
        }
      }
    },
    "/registrasi/liveness": {
      "post": {
        "tags": [
          "Registrasi"
        ],
        "summary": "Unggah bukti liveness (satu tantangan)",
        "description": "PROVISIONAL. Klien merekam video saat pengguna mengikuti SATU instruksi gerakan acak, lalu mengunggah: `video` (mp4), `challenges` (kode tantangan, CSV — kini selalu satu kode), `segmen_tantangan` (string JSON rentang waktu per tantangan), dan `tangkapan[i]` (PNG bingkai bukti per tantangan). Verifikasi anti-spoofing dilakukan SERVER. Klien mengirim `X-Idempotency-Key` `lv-{token}-{kode}` dan memakai timeout kirim/terima 2 menit.",
        "operationId": "registrasiLiveness",
        "x-status": "provisional",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/RegistrationToken"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "video",
                  "challenges",
                  "segmen_tantangan"
                ],
                "properties": {
                  "video": {
                    "type": "string",
                    "format": "binary",
                    "description": "Rekaman video liveness (video/mp4)."
                  },
                  "challenges": {
                    "type": "string",
                    "description": "Kode tantangan dipisah koma; satu tantangan per sesi.",
                    "example": "SMILE"
                  },
                  "segmen_tantangan": {
                    "type": "string",
                    "description": "String JSON: [{\"kode_tantangan\":\"SMILE\",\"mulai_ms\":0,\"selesai_ms\":5000,\"filter\":\"...\"}]"
                  },
                  "tangkapan[0]": {
                    "type": "string",
                    "format": "binary",
                    "description": "PNG bingkai bukti tantangan ke-i (tangkapan[0], tangkapan[1], ...)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuksesKosong"
          },
          "400": {
            "$ref": "#/components/responses/Galat400"
          },
          "404": {
            "$ref": "#/components/responses/Galat404"
          },
          "422": {
            "description": "Tantangan tidak terpenuhi / video tidak valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmplopGalat"
                },
                "example": {
                  "success": false,
                  "error_code": "VALIDATION_FAILED",
                  "message": "Tantangan tidak terpenuhi. Silakan ulangi.",
                  "errors": {
                    "video": [
                      "Gerakan tidak terdeteksi pada segmen yang diminta."
                    ]
                  },
                  "request_id": "7f0d1c1e-0000-0000-0000-000000000000"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Galat429"
          },
          "500": {
            "$ref": "#/components/responses/Galat500"
          }
        }
      }
    },
    "/registrasi/sidik-jari": {
      "post": {
        "tags": [
          "Registrasi"
        ],
        "summary": "Kirim hasil verifikasi sidik jari perangkat",
        "operationId": "registrasiSidikJari",
        "x-status": "provisional",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/RegistrationToken"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "registration_session_id",
                  "biometric_type",
                  "biometric_available",
                  "biometric_verified",
                  "source"
                ],
                "properties": {
                  "registration_session_id": {
                    "type": "string"
                  },
                  "biometric_type": {
                    "type": "string",
                    "example": "fingerprint"
                  },
                  "biometric_available": {
                    "type": "boolean"
                  },
                  "biometric_verified": {
                    "type": "boolean"
                  },
                  "verified_at": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  },
                  "source": {
                    "type": "string",
                    "enum": [
                      "device"
                    ]
                  },
                  "device_metadata": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuksesKosong"
          },
          "400": {
            "$ref": "#/components/responses/Galat400"
          },
          "422": {
            "$ref": "#/components/responses/Galat422"
          }
        }
      }
    },
    "/registrasi/persetujuan": {
      "post": {
        "tags": [
          "Registrasi"
        ],
        "summary": "Kirim persetujuan kebijakan",
        "operationId": "registrasiPersetujuan",
        "x-status": "provisional",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/RegistrationToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "privacy",
                  "service",
                  "disclaimer",
                  "biometric",
                  "data_truth"
                ],
                "properties": {
                  "privacy": {
                    "type": "boolean"
                  },
                  "service": {
                    "type": "boolean"
                  },
                  "disclaimer": {
                    "type": "boolean"
                  },
                  "biometric": {
                    "type": "boolean"
                  },
                  "data_truth": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuksesKosong"
          },
          "422": {
            "$ref": "#/components/responses/Galat422"
          }
        }
      }
    },
    "/registrasi/finalkan": {
      "post": {
        "tags": [
          "Registrasi"
        ],
        "summary": "Finalisasi registrasi",
        "description": "PROVISIONAL. Tanpa body; server memproses verifikasi akhir (pencocokan wajah-dokumen, anti-spoofing) lalu membuat akun.",
        "operationId": "registrasiFinalkan",
        "x-status": "provisional",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/RegistrationToken"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuksesKosong"
          },
          "404": {
            "$ref": "#/components/responses/Galat404"
          },
          "422": {
            "$ref": "#/components/responses/Galat422"
          },
          "500": {
            "$ref": "#/components/responses/Galat500"
          }
        }
      }
    },
    "/system/maintenance": {
      "get": {
        "tags": [
          "Sistem"
        ],
        "summary": "Status maintenance aplikasi",
        "description": "PROVISIONAL. Dipanggil berkala oleh klien; bila gagal/tidak ada, klien menganggap maintenance tidak aktif (gagal-senyap, timeout 6 detik). Mode maintenance hanya dipercaya bila body memuat penanda eksplisit - 503 transien gateway TIDAK mengunci aplikasi.",
        "operationId": "statusMaintenance",
        "x-status": "provisional",
        "security": [],
        "responses": {
          "200": {
            "description": "Status maintenance saat ini.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "maintenance": {
                          "type": "boolean"
                        },
                        "title": {
                          "type": "string",
                          "nullable": true
                        },
                        "message": {
                          "type": "string",
                          "nullable": true
                        },
                        "estimated_until": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "support_contact": {
                          "type": "string",
                          "nullable": true
                        },
                        "allowed_features": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Kunci fitur yang tetap diizinkan saat maintenance; kosong = semua diblokir."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sistem/konfigurasi": {
      "get": {
        "tags": [
          "Sistem"
        ],
        "summary": "Konfigurasi runtime aplikasi",
        "description": "PROVISIONAL. Tanpa autentikasi; di-cache klien 30 menit; gagal-senyap ke nilai bawaan. PERHATIAN: respons dibaca dari AKAR body (tanpa amplop data).",
        "operationId": "konfigurasiSistem",
        "x-status": "provisional",
        "security": [],
        "responses": {
          "200": {
            "description": "Konfigurasi runtime.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "versi_api": {
                      "type": "string",
                      "example": "1"
                    },
                    "versi_minimum_app": {
                      "type": "string",
                      "example": "1.0.0"
                    },
                    "batas_unggahan_byte": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "integer"
                      },
                      "example": {
                        "foto_dokumen": 5242880,
                        "foto_wajah": 3145728,
                        "video_liveness": 15728640,
                        "dokumen_permohonan": 10485760
                      }
                    },
                    "otp": {
                      "type": "object",
                      "properties": {
                        "panjang": {
                          "type": "integer",
                          "example": 6
                        },
                        "kedaluwarsa_detik": {
                          "type": "integer",
                          "example": 300
                        },
                        "cooldown_detik": {
                          "type": "integer",
                          "example": 60
                        }
                      }
                    },
                    "login": {
                      "type": "object",
                      "properties": {
                        "maks_percobaan": {
                          "type": "integer",
                          "example": 5
                        },
                        "durasi_kunci_detik": {
                          "type": "integer",
                          "example": 1800
                        }
                      }
                    },
                    "foto_wajah": {
                      "type": "object",
                      "properties": {
                        "maks_percobaan": {
                          "type": "integer",
                          "example": 3
                        }
                      }
                    },
                    "token": {
                      "type": "object",
                      "properties": {
                        "akses_ttl_detik": {
                          "type": "integer",
                          "example": 3600
                        },
                        "refresh_ttl_detik": {
                          "type": "integer",
                          "example": 2592000
                        }
                      }
                    },
                    "bahasa_didukung": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "id",
                        "en"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/biometrik/verifikasi-wajah": {
      "post": {
        "tags": [
          "Biometrik"
        ],
        "summary": "Verifikasi AI: cocokkan foto wajah dengan foto dokumen",
        "description": "PROVISIONAL. Dipanggil pada tahap \"Proses Verifikasi AI\" registrasi setelah kedua foto terunggah. Server melakukan OCR KTP, pencocokan wajah, dan heuristik, lalu memutuskan. Timeout terima klien 60 detik.",
        "operationId": "verifikasiWajahAi",
        "x-status": "provisional",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "foto_dokumen_kunci",
                  "foto_wajah_kunci"
                ],
                "properties": {
                  "foto_dokumen_kunci": {
                    "type": "string",
                    "description": "Kunci/ID foto dokumen yang sudah diunggah."
                  },
                  "foto_wajah_kunci": {
                    "type": "string",
                    "description": "Kunci/ID foto wajah yang sudah diunggah."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hasil verifikasi. Dibaca dari AKAR body (tanpa amplop data).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "keputusan": {
                      "type": "string",
                      "enum": [
                        "terverifikasi",
                        "ditolak",
                        "perlu_review_manusia"
                      ]
                    },
                    "skor_confidence": {
                      "type": "number",
                      "format": "double"
                    },
                    "alasan": {
                      "type": "string"
                    },
                    "catatan": {
                      "type": "string"
                    },
                    "status_review": {
                      "type": "string",
                      "example": "tidak_butuh_review"
                    },
                    "output": {
                      "type": "object",
                      "properties": {
                        "ocr": {
                          "type": "object",
                          "properties": {
                            "adalah_ktp": {
                              "type": "boolean"
                            },
                            "nik": {
                              "type": "string",
                              "nullable": true
                            },
                            "nama": {
                              "type": "string",
                              "nullable": true
                            },
                            "tanggal_lahir": {
                              "type": "string",
                              "nullable": true
                            },
                            "tempat_lahir": {
                              "type": "string",
                              "nullable": true
                            },
                            "jenis_kelamin": {
                              "type": "string",
                              "nullable": true
                            },
                            "alamat": {
                              "type": "string",
                              "nullable": true
                            },
                            "agama": {
                              "type": "string",
                              "nullable": true
                            },
                            "status_perkawinan": {
                              "type": "string",
                              "nullable": true
                            },
                            "pekerjaan": {
                              "type": "string",
                              "nullable": true
                            },
                            "kewarganegaraan": {
                              "type": "string",
                              "nullable": true
                            },
                            "kualitas": {
                              "type": "object",
                              "properties": {
                                "terbaca_jelas": {
                                  "type": "boolean"
                                },
                                "wajah_terlihat": {
                                  "type": "boolean"
                                },
                                "ada_tanda_tampering": {
                                  "type": "boolean"
                                },
                                "catatan": {
                                  "type": "string",
                                  "nullable": true
                                }
                              }
                            }
                          }
                        },
                        "face_match": {
                          "type": "object",
                          "properties": {
                            "distance": {
                              "type": "number",
                              "format": "double"
                            },
                            "threshold": {
                              "type": "number",
                              "format": "double",
                              "example": 0.6
                            },
                            "reference_face_detected": {
                              "type": "boolean"
                            },
                            "candidate_face_detected": {
                              "type": "boolean"
                            },
                            "duration_ms": {
                              "type": "integer"
                            }
                          }
                        },
                        "heuristik": {
                          "type": "object",
                          "properties": {
                            "kemungkinan_sama": {
                              "type": "boolean",
                              "nullable": true
                            },
                            "skor_kemiripan": {
                              "type": "number",
                              "format": "double",
                              "nullable": true
                            },
                            "alasan": {
                              "type": "string"
                            },
                            "ciri_dipakai": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "catatan_kualitas": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "latensi_ms": {
                      "type": "integer"
                    },
                    "dibuat_pada": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Galat401"
          },
          "422": {
            "$ref": "#/components/responses/Galat422"
          },
          "500": {
            "$ref": "#/components/responses/Galat500"
          }
        }
      }
    },
    "/biometrik/audit": {
      "post": {
        "tags": [
          "Biometrik"
        ],
        "summary": "Catat peristiwa audit keamanan perangkat",
        "description": "PROVISIONAL. Fire-and-forget dari klien (galat diabaikan, timeout 5 detik, tanpa autentikasi).",
        "operationId": "auditKeamanan",
        "x-status": "provisional",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "peristiwa",
                  "tingkat"
                ],
                "properties": {
                  "peristiwa": {
                    "type": "string",
                    "enum": [
                      "vpn_terdeteksi",
                      "root_terdeteksi",
                      "emulator_terdeteksi",
                      "fingerprint_gagal",
                      "login_gagal",
                      "login_sukses"
                    ]
                  },
                  "tingkat": {
                    "type": "string",
                    "enum": [
                      "info",
                      "peringatan",
                      "kritis"
                    ]
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuksesKosong"
          }
        }
      }
    },
    "/aktivitas/log": {
      "post": {
        "tags": [
          "Aktivitas"
        ],
        "summary": "Catat batch log aktivitas pengguna",
        "description": "Mengirim batch peristiwa aktivitas non-sensitif untuk keamanan, audit, dan deteksi penyalahgunaan. Auth opsional (user_id diisi dari token bila ada). IP diisi server, BUKAN dari klien. `lokasi` opsional dan hanya dikirim bila pengguna mengizinkan. Dilarang menyertakan kata sandi, OTP, token, biometrik, atau PII mentah; server menerapkan redaksi lapis-2. Maks 50 peristiwa/permintaan; rate-limited per IP.",
        "operationId": "catatAktivitas",
        "x-status": "tersedia",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "peristiwa"
                ],
                "properties": {
                  "perangkat": {
                    "type": "object",
                    "properties": {
                      "model": { "type": "string", "maxLength": 120 },
                      "os": { "type": "string", "maxLength": 120 },
                      "app_version": { "type": "string", "maxLength": 40 },
                      "device_fingerprint": { "type": "string", "maxLength": 128 }
                    }
                  },
                  "peristiwa": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "type": "object",
                      "required": [
                        "jenis"
                      ],
                      "properties": {
                        "jenis": {
                          "type": "string",
                          "enum": [
                            "buka_layar",
                            "mulai_permohonan",
                            "kirim_permohonan",
                            "unggah_dokumen",
                            "unduh_dokumen",
                            "lihat_status_permohonan",
                            "lihat_pemberitahuan",
                            "buka_ai_chat",
                            "kirim_pesan_ai",
                            "masuk",
                            "keluar",
                            "ubah_bahasa"
                          ]
                        },
                        "layar": { "type": "string", "maxLength": 120 },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": true,
                          "description": "Konteks ringkas non-sensitif. Field sensitif ditolak/disamarkan server."
                        },
                        "waktu_klien": { "type": "string", "format": "date-time" },
                        "lokasi": {
                          "type": "object",
                          "description": "Opsional, hanya bila pengguna mengizinkan.",
                          "properties": {
                            "lat": { "type": "number" },
                            "lon": { "type": "number" },
                            "akurasi": { "type": "number" }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "diterima": { "type": "integer" },
                        "ditolak": { "type": "integer" }
                      }
                    },
                    "meta": { "type": "object" }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Terlalu banyak permintaan"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT tunggal sliding dari /auth/sign_in; segarkan via /auth/refresh-token."
      }
    },
    "parameters": {
      "ServiceType": {
        "name": "service_type",
        "in": "path",
        "required": true,
        "description": "Slug layanan kependudukan.",
        "schema": {
          "type": "string",
          "enum": [
            "birth-cert",
            "birth-cert-no-nik",
            "death-cert",
            "family-card-add-child",
            "family-card-reprint",
            "family-card-biodata-change",
            "child-id-card"
          ]
        }
      },
      "ApplicationId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Page": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "PerPage": {
        "name": "per_page",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 15
        }
      },
      "IdempotencyKey": {
        "name": "X-Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "Kunci idempoten dari klien untuk mencegah duplikasi pengiriman.",
        "schema": {
          "type": "string"
        }
      },
      "RegistrationToken": {
        "name": "X-Registration-Token",
        "in": "header",
        "required": true,
        "description": "Token sesi registrasi dari /registrasi/mulai.",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "AmplopGalat": {
        "type": "object",
        "description": "Amplop galat standar (terverifikasi live).",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error_code": {
            "type": "string",
            "enum": [
              "BAD_REQUEST",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "DUPLICATE_RECORD",
              "PAYLOAD_TOO_LARGE",
              "VALIDATION_FAILED",
              "RATE_LIMITED",
              "INTERNAL_SERVER_ERROR",
              "SERVICE_UNAVAILABLE",
              "MAINTENANCE_MODE"
            ]
          },
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Peta field → daftar pesan validasi."
          },
          "request_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "Meta": {
        "type": "object",
        "description": "Meta paginasi standar.",
        "properties": {
          "current_page": {
            "type": "integer",
            "example": 1
          },
          "total_pages": {
            "type": "integer",
            "example": 5
          },
          "total_count": {
            "type": "integer",
            "example": 73
          },
          "per_page": {
            "type": "integer",
            "example": 15
          }
        }
      },
      "Pengguna": {
        "type": "object",
        "description": "Profil pengguna. Klien mobile toleran terhadap alias field (mis. full_name/user_fullname, email/user_email).",
        "properties": {
          "id": {
            "type": "string"
          },
          "nik": {
            "type": "string"
          },
          "user_fullname": {
            "type": "string"
          },
          "user_name": {
            "type": "string",
            "nullable": true
          },
          "user_email": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "birth_place": {
            "type": "string",
            "nullable": true
          },
          "birth_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "district_name": {
            "type": "string",
            "nullable": true
          },
          "sub_district_name": {
            "type": "string",
            "nullable": true
          },
          "avatar": {
            "type": "string",
            "nullable": true
          },
          "user_type": {
            "type": "string",
            "nullable": true
          },
          "verified": {
            "type": "boolean"
          },
          "terms_accepted": {
            "type": "boolean"
          }
        }
      },
      "ProgressStatus": {
        "type": "string",
        "description": "Status permohonan. Label tampilan: new_application=Menunggu, verified=Diverifikasi, in_process=Diproses, waiting_siak=Menunggu SIAK, constrained=Tertunda, perlu_perbaikan=Perlu Perbaikan, rejected=Ditolak, completed=Selesai, cancelled=Dibatalkan.",
        "enum": [
          "new_application",
          "verified",
          "in_process",
          "waiting_siak",
          "constrained",
          "perlu_perbaikan",
          "rejected",
          "completed",
          "cancelled"
        ]
      },
      "Permohonan": {
        "type": "object",
        "description": "Permohonan layanan. Field data formulir lain ikut dalam objek yang sama (flat).",
        "properties": {
          "id": {
            "type": "string"
          },
          "application_number": {
            "type": "string",
            "example": "AK-2026-000123"
          },
          "service_type": {
            "type": "string",
            "example": "birth-cert"
          },
          "service_type_label": {
            "type": "string",
            "nullable": true
          },
          "progress_status": {
            "$ref": "#/components/schemas/ProgressStatus"
          },
          "applicant_name": {
            "type": "string",
            "nullable": true
          },
          "applicant_nik": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true,
            "description": "Catatan petugas."
          },
          "rejection_reason": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": true
      },
      "DokumenPublik": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 24
          },
          "title": {
            "type": "string",
            "example": "Formulir Akta Kelahiran"
          },
          "file_name": {
            "type": "string",
            "example": "FORMULIR_AKTA_KELAHIRAN.pdf"
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "form_code": {
            "type": "string",
            "nullable": true,
            "example": "F-1.15"
          },
          "file_size": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "Notifikasi": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "notif_type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "unread",
              "read"
            ]
          },
          "reference_type": {
            "type": "string",
            "nullable": true,
            "example": "BirthCertApplication"
          },
          "reference_id": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BalasanAi": {
        "type": "object",
        "properties": {
          "sesi_id": {
            "type": "string"
          },
          "balasan": {
            "type": "string"
          },
          "selesai": {
            "type": "boolean",
            "description": "false bila balasan terpotong; klien dapat meminta kelanjutan dengan lanjutkan=true."
          },
          "done_reason": {
            "type": "string",
            "nullable": true
          },
          "token_output": {
            "type": "integer",
            "nullable": true
          },
          "latensi_ms": {
            "type": "integer",
            "nullable": true
          },
          "aksi": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AksiAi"
            }
          },
          "saran": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Saran pertanyaan lanjutan."
          },
          "butuh_operator": {
            "type": "boolean",
            "description": "Alias diterima: needs_human, escalate."
          }
        }
      },
      "AksiAi": {
        "type": "object",
        "properties": {
          "tipe": {
            "type": "string",
            "enum": [
              "buka_layanan",
              "lihat_status",
              "lihat_permohonan",
              "mulai_pengaduan",
              "buka_faq"
            ],
            "description": "Alias Inggris diterima: open_service, view_status, view_requests, start_complaint, open_faq."
          },
          "label": {
            "type": "string"
          },
          "target": {
            "type": "string",
            "nullable": true,
            "description": "Mis. slug layanan atau id permohonan."
          }
        }
      },
      "KodeTantanganLiveness": {
        "type": "string",
        "description": "Kode tantangan gerakan liveness yang dikenali klien (case-insensitive).",
        "enum": [
          "BLINK",
          "SMILE",
          "OPEN_MOUTH",
          "TURN_LEFT",
          "TURN_RIGHT",
          "NOD"
        ]
      }
    },
    "responses": {
      "SuksesKosong": {
        "description": "Berhasil.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Galat400": {
        "description": "Permintaan tidak valid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AmplopGalat"
            },
            "example": {
              "success": false,
              "error_code": "BAD_REQUEST",
              "message": "Permintaan tidak valid.",
              "request_id": "7f0d1c1e-0000-0000-0000-000000000000"
            }
          }
        }
      },
      "Galat401": {
        "description": "Tidak terautentikasi / token kedaluwarsa.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AmplopGalat"
            },
            "example": {
              "success": false,
              "error_code": "UNAUTHORIZED",
              "message": "Sesi Anda telah berakhir.",
              "request_id": "7f0d1c1e-0000-0000-0000-000000000000"
            }
          }
        }
      },
      "Galat404": {
        "description": "Sumber daya tidak ditemukan.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AmplopGalat"
            },
            "example": {
              "success": false,
              "error_code": "NOT_FOUND",
              "message": "Data tidak ditemukan.",
              "request_id": "7f0d1c1e-0000-0000-0000-000000000000"
            }
          }
        }
      },
      "Galat413": {
        "description": "Berkas terlalu besar (>5MB per berkas).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AmplopGalat"
            },
            "example": {
              "success": false,
              "error_code": "PAYLOAD_TOO_LARGE",
              "message": "Ukuran berkas melebihi batas 5MB.",
              "request_id": "7f0d1c1e-0000-0000-0000-000000000000"
            }
          }
        }
      },
      "Galat422": {
        "description": "Validasi gagal.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AmplopGalat"
            },
            "example": {
              "success": false,
              "error_code": "VALIDATION_FAILED",
              "message": "Data tidak valid.",
              "errors": {
                "email": [
                  "Email tidak valid."
                ]
              },
              "request_id": "7f0d1c1e-0000-0000-0000-000000000000"
            }
          }
        }
      },
      "Galat429": {
        "description": "Terlalu banyak permintaan.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AmplopGalat"
            },
            "example": {
              "success": false,
              "error_code": "RATE_LIMITED",
              "message": "Terlalu banyak percobaan. Coba lagi nanti.",
              "request_id": "7f0d1c1e-0000-0000-0000-000000000000"
            }
          }
        }
      },
      "Galat500": {
        "description": "Kesalahan server.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AmplopGalat"
            },
            "example": {
              "success": false,
              "error_code": "INTERNAL_SERVER_ERROR",
              "message": "Terjadi kesalahan pada server.",
              "request_id": "7f0d1c1e-0000-0000-0000-000000000000"
            }
          }
        }
      }
    }
  }
}
